/*
 *
 * 
 *
 */


body {
    background: #fff;
    text-align: center;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Lato', sans-serif;
    color: #888;
    font-size: 17px;
}

.violet { color: #488ECB; }

a {
    color: #488ECB;
    text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
a:hover, a:focus { color: #888; text-decoration: none; }

strong { font-weight: bold; }

img { max-width: 100%; }

h1, h2 { line-height: 40px; }
h3, h4 { line-height: 25px; }

::-moz-selection { background: #488ECB; color: #fff; text-shadow: none; }
::selection { background: #488ECB; color: #fff; text-shadow: none; }


/***** Big links / buttons *****/

a.big-link-1 {
	display: inline-block;
    padding: 5px 22px;
    background: #488ECB;
    color: #fff;
    font-style: italic;
    text-decoration: none;
    -moz-box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
}

a.big-link-1:hover {
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

a.big-link-1:active {
    -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
}

a.big-link-2 {
    display: inline-block;
    width: 35px;
    height: 35px;
    padding-top: 6px;
    background: #488ECB;
    font-size: 20px;
    color: #fff;
    line-height: 20px;
    -moz-border-radius: 19px; -webkit-border-radius: 19px; border-radius: 19px;
    -moz-box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
}
a.big-link-2 i { vertical-align: middle; }

a.big-link-2:hover {
    background: #5d5d5d;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

a.big-link-2:active {
    -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
}

a.big-link-3 {
	display: inline-block;
    padding: 5px 22px;
    background: #488ECB;
    font-size: 18px;
    color: #fff;
    font-style: italic;
    line-height: 24px;
    text-decoration: none;
    -moz-box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
}

a.big-link-3:hover {
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

a.big-link-3:active {
    -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
}


/***** Top menu *****/

.navbar {
	margin-bottom: 0;
	background: #fff;
	border: 0;
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
}

ul.navbar-nav {
	font-size: 13px;
	color: #888;
	/*text-transform: uppercase;*/
}

ul.navbar-nav li a { padding: 23px 20px; background: #fff; border-top: 5px solid #fff; color: #5d5d5d; }
ul.navbar-nav li.active a { background: #f8f8f8; border-color: #488ECB; color: #5d5d5d; }

ul.navbar-nav li a:hover, ul.navbar-nav li a:focus { background: #488ECB; border-color: #488ECB; color: #fff; outline: 0; }

.nav .open > a { background: #f8f8f8; border-color: #488ECB; color: #5d5d5d; }
.nav .open > a:hover, .nav .open > a:focus { background: #488ECB; border-color: #488ECB; color: #fff; }

ul.navbar-nav li a i { line-height: 35px; color: #aaa; }
ul.navbar-nav li a:hover i, ul.navbar-nav li a:focus i { color: #fff; }

.dropdown-menu {
	border: 0;
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	-moz-box-shadow: 0 6px 10px rgba(0, 0, 0, .15); -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, .15); box-shadow: 0 6px 10px rgba(0, 0, 0, .15);
}

.dropdown-menu > .active > a { background: #fff; color: #5d5d5d; }
.dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus { background: #f8f8f8; color: #488ECB; }

ul.navbar-nav li .dropdown-menu a { padding-top: 15px; padding-bottom: 15px; }
ul.navbar-nav li.active .dropdown-menu a { background: #fff; color: #5d5d5d; border: 0; }
ul.navbar-nav li.active .dropdown-menu a:hover, 
ul.navbar-nav li.active .dropdown-menu a:focus { background: #488ECB; color: #fff; border: 0; }

ul.navbar-nav li.active .dropdown-menu > .active > a { background: #f8f8f8; color: #488ECB; border: 0; }
ul.navbar-nav li.active .dropdown-menu > .active > a:hover, 
ul.navbar-nav li.active .dropdown-menu > .active > a:focus { background: #488ECB; color: #fff; border: 0; }

.navbar>.container .navbar-brand { margin-left: 0; }

.navbar-brand {
	width: 167px;
	height: 106px;
	background: url(../img/logo.png) left center no-repeat;
	text-indent: -99999px;
}

/***** Slider *****/

.slider-container {
    margin: 0 auto;
    background: #f8f8f8 url(../img/pattern.jpg) left top repeat;
    -moz-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset, 0 -5px 15px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset, 0 -5px 15px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset, 0 -5px 15px 0 rgba(0,0,0,.05) inset;
}

.slider {
	padding-left: 5px;
	padding-right: 5px;
}

.flexslider {
    margin-top: 45px;
    margin-bottom: 55px;
    border: 6px solid #fff;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -moz-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05), 0 -5px 15px 0 rgba(0,0,0,.05);
    -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05), 0 -5px 15px 0 rgba(0,0,0,.05);
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.05), 0 -5px 15px 0 rgba(0,0,0,.05);
}

.flexslider .slides > li {
	position: relative;
}

.flexslider .slides img {
    max-height: 460px;
}

.flex-control-thumbs img {
    max-height: 115px;
}

.flex-caption {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 95%;
    padding: 10px 20px;
    background: #1d1d1d; /* browsers that don't support rgba */
    background: rgba(0, 0, 0, .7);
    font-size: 14px;
    line-height: 24px;
    color: #eaeaea;
    text-align: left;
    font-style: italic;
}

.flex-direction-nav a {
	width: 60px;
	height: 60px;
	padding-top: 17px;
	background: #488ECB;
	color: #fff;
	text-shadow: none;
}

.flex-direction-nav a:before { font-size: 26px; }

.flex-direction-nav .flex-prev, .flex-direction-nav .flex-next { text-align: center; }


/***** Slider 2 *****/

.slider-2-container {
	padding: 180px 0;
}

.slider-2-text {
	padding: 30px 0 43px 0;
	background: #1d1d1d; /* browsers that don't support rgba */
    background: rgba(0, 0, 0, .7);
    color: #fff;
}

.slider-2-text h1 {
	padding-left: 30px;
	padding-right: 30px;
	font-family: 'Lobster', cursive;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}

.slider-2-text p {
	padding-left: 30px;
	padding-right: 30px;
	font-size: 18px;
    font-style: italic;
}


/***** Presentation *****/

.presentation-container {
    margin-top: 30px;
}

.presentation-container h1 {
    font-family: 'Lato', bold;
    font-size: 30px;
    color: #5d5d5d;
    font-weight: bold;
}

.presentation-container p {
    font-size: 18px;
    font-style: normal;
}


/***** Services *****/

.services-container {
    margin-top: 10px;
}

.services-title {
	margin-top: 40px;
    background: url(../img/line.png) left center repeat-x;
}

.services-title h2 {
    width: 200px;
    margin: 0 auto;
    background: #fff;
    font-family: 'Lobster', cursive;
    font-size: 24px;
    color: #5d5d5d;
    font-weight: bold;
}

.service {
	margin-top: 40px;
    padding: 15px 15px 20px 15px;
    background: #f8f8f8;
    border-bottom: 2px solid #488ECB;
}

.service:hover {
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.05), 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -o-transition: all .5s; -moz-transition: all .5s; -webkit-transition: all .5s; -ms-transition: all .5s; transition: all .5s;
}

.service .service-icon {
    font-size: 50px;
    line-height: 50px;
    color: #5d5d5d;
}

.service .service-icon i { vertical-align: middle; }

.service h3 {
    margin-top: 13px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
    color: #5d5d5d;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.service p {
    padding-bottom: 7px;
    line-height: 24px;
}


/***** Latest work *****/

.work-container {
    margin-top: 50px;
}

.work-title {
    background: url(../img/line.png) left center repeat-x;
}

.work-title h2 {
    width: 220px;
    margin: 0 auto;
    background: #fff;
    font-family: 'Lobster', cursive;
    font-size: 24px;
    color: #5d5d5d;
    font-weight: bold;
}

.work {
    margin-top: 40px;
    padding-bottom: 20px;
    background: #f8f8f8;
    border-bottom: 2px solid #488ECB;
}

.work:hover img {
    opacity: 0.7;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.work:hover {
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.05), 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -o-transition: all .5s; -moz-transition: all .5s; -webkit-transition: all .5s; -ms-transition: all .5s; transition: all .5s;
}

.work .work-bottom {
    margin-top: 15px;
}

.work h3 {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
    color: #5d5d5d;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.work p {
	padding-left: 15px;
    padding-right: 15px;
    line-height: 24px;
    font-style: italic;
}


/***** Testimonials *****/

.testimonials-container {
    margin-top: 50px;
    padding-bottom: 70px;
}

.testimonials-title {
    background: url(../img/line.png) left center repeat-x;
}

.testimonials-title h2 {
    width: 180px;
    margin: 0 auto;
    background: #fff;
    font-family: 'Lobster', cursive;
    font-size: 24px;
    color: #5d5d5d;
    font-weight: bold;
}

.testimonial-list {
    margin-top: 30px;
    text-align: left;
}

.testimonial-list .tab-pane { overflow: hidden; }

.testimonial-list .testimonial-image {
	float: left;
	width: 10%;
	margin: 10px 0 0 0;
}
.testimonial-list .testimonial-image img { max-width: 64px; border: 3px solid #eaeaea; }

.testimonial-list .testimonial-text {
	float: left;
	width: 90%;
	font-size: 14px;
    line-height: 30px;
    font-style: italic;
}

.testimonial-list .nav-tabs {
    border: 0;
    text-align: right;
}

.testimonial-list .nav-tabs li {
	float: none;
	display: inline-block;
	margin-left: 2px;
    margin-right: 2px;
}

.testimonial-list .nav-tabs li a {
    width: 12px;
    height: 12px;
    padding: 0;
    background: #eaeaea;
    border: 0;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
}

.testimonial-list .nav-tabs li a:hover { border: 0; background: #ddd; }
.testimonial-list .nav-tabs li.active a { background: #488ECB; }


/***** Footer *****/

footer {
    margin: 0 auto;
    padding-bottom: 10px;
    background: #f8f8f8 url(../img/pattern.jpg) left top repeat;
    -moz-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset; -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset; box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset;
}

.footer-box {
    margin-top: 20px;
    text-align: left;
}

.footer-box h4 {
    margin-top: 20px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
    color: #5d5d5d;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.footer-box-text p {
    line-height: 24px;
}

.footer-box-text-contact i {
    padding-right: 7px;
}

.footer-box-text-subscribe form {
	padding-bottom: 10px;
}

.footer-box-text-subscribe input[type="text"] {
	width: 95%;
	height: 26px;
}

/* Flickr feed */
.flickr-feed {
    margin: 16px 0 0 0;
}

.flickr-feed a {
	display: inline-block;
	width: 54px;
	margin: 0 4px 4px 0;
}
.flickr-feed a:hover { opacity: 0.7; }
.flickr-feed a img { border: 2px solid #eaeaea; }


.footer-border {
    margin-top: 30px;
    border-top: 1px dashed #ddd;
}

.footer-copyright {
    margin-top: 15px;
    line-height: 24px;
    text-align: left;
}

.footer-social {
    margin-top: 5px;
    text-align: right;
}
.footer-social a { margin: 0 0 0 10px; font-size: 26px; color: #888; }
.footer-social a:hover, .footer-social a:focus { color: #488ECB; }

.fe{
    position: static !important;	
}

/***** Page title *****/

.page-title-container {
    margin: 0 auto;
    padding: 30px 0 35px 0;
    background: #f8f8f8 url(../img/pattern.jpg) left top repeat;
    text-align: left;
    -moz-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset, 0 -5px 15px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset, 0 -5px 15px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset, 0 -5px 15px 0 rgba(0,0,0,.05) inset;
}

.page-title-container h1 {
    display: inline;
    margin-left: 10px;
    /*font-family: 'Lobster', cursive;*/
    font-size: 24px;
    color: #5d5d5d;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
    vertical-align: middle;
}

.page-title-container p {
    display: inline;
    margin-left: 5px;
    font-size: 16px;
    font-style: italic;
    vertical-align: middle;
}

.page-title-container i {
    font-size: 46px;
    color: #ccc;
    vertical-align: middle;
}


/* ----- ABOUT PAGE ----- */

/***** About us text *****/

.about-us-container {
    margin-top: 20px;
}

.about-us-text {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.about-us-text h3 {
    margin-top: 25px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
    color: #5d5d5d;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.about-us-text p {
    line-height: 28px;
    font-size: 13px;
}

/***** Meet our team *****/

.team-container {
    margin-top: 30px;
}

.team-title {
    background: url(../img/line.png) left center repeat-x;
}

.team-title h2 {
    width: 220px;
    margin: 0 auto;
    background: #fff;
    font-family: 'Lobster', cursive;
    font-size: 24px;
    color: #5d5d5d;
    font-weight: bold;
}

.team-box {
    margin-top: 40px;
    padding-bottom: 15px;
    background: #f8f8f8;
    border-bottom: 2px solid #488ECB;
}

.team-box:hover img {
    opacity: 0.7;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.team-box:hover {
	-moz-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05), 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
	-webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05), 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.05), 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -o-transition: all .5s; -moz-transition: all .5s; -webkit-transition: all .5s; -ms-transition: all .5s; transition: all .5s;
}

.team-box h3 {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
    color: #5d5d5d;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.team-box p {
	padding-left: 15px;
    padding-right: 15px;
    line-height: 24px;
    font-style: italic;
}

.team-social a { margin: 0 5px; font-size: 26px; }


/* ----- CONTACT PAGE ----- */

/***** Form *****/

.contact-us-container {
    margin-top: 20px;
    padding-bottom: 50px;
    text-align: left;
}

.contact-us-container h3 {
    margin-top: 25px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
    color: #5d5d5d;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.contact-us-container p {
    line-height: 28px;
    font-size: 13px;
}

.contact-form {
    padding-top: 25px;
    padding-bottom: 30px;
}

.contact-form form {
    margin-top: 25px;
}

.contact-form form .form-group {
	margin-bottom: 20px;
}

.contact-form input[type="text"] { width: 95%; height: 34px; }
.contact-form textarea { width: 95%; height: 170px; padding-top: 6px; padding-bottom: 6px; }
.contact-form label { font-size: 13px; font-weight: 400; }
.contact-form label .error-label { font-style: italic }
.contact-form button { margin-top: 5px; padding: 0 45px; }

/***** Google map *****/

.contact-address {
	padding-bottom: 15px;
}

.contact-address .map {
    margin: 20px 0 40px 0;
    height: 300px;
    border: 5px solid #f8f8f8;
}


/* ----- SERVICES PAGE ----- */

/***** Services full width text *****/

.services-full-width-container {
    margin-top: 20px;
}

.services-full-width-text {
    padding-top: 10px;
    text-align: left;
}

.services-full-width-text h3 {
    margin-top: 25px;
    /*font-family: 'Droid Sans', sans-serif;*/
    font-size: 20px;
    color: #5d5d5d;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.services-full-width-text p {
    line-height: 28px;
    font-size: 16px;
}

/***** Services half width text *****/

.services-half-width-container {
    margin-top: 20px;
}

.services-half-width-text {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.services-half-width-text h3 {
    margin-top: 25px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
    color: #5d5d5d;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.services-half-width-text p {
    line-height: 18px;
    font-size: 16px;
}

/***** Call to action *****/

.call-to-action-container {
    margin-top: 20px;
    padding-bottom: 50px;
}

.call-to-action-text {
    padding-top: 25px;
    padding-bottom: 15px;
    background: #f8f8f8;
    text-align: left;
    overflow: hidden;
}

.call-to-action-text:hover {
	-moz-box-shadow: 0 3px 10px 0 rgba(0,0,0,.05), 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
	-webkit-box-shadow: 0 3px 10px 0 rgba(0,0,0,.05), 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.05), 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -o-transition: all .5s; -moz-transition: all .5s; -webkit-transition: all .5s; -ms-transition: all .5s; transition: all .5s;
}

.call-to-action-text p {
    float: left;
    width: 80%;
    padding-left: 25px;
    line-height: 30px;
    font-size: 25px;
    font-style: italic;
}

.call-to-action-text .call-to-action-button {
    float: left;
    width: 20%;
    padding-right: 25px;
    margin-bottom: 10px;
    text-align: right;
}


/* ----- PORTFOLIO PAGE ----- */

.portfolio-container {
    margin-top: 20px;
    padding-bottom: 50px;
}

.portfolio-filters {
	padding-top: 35px;
	padding-bottom: 10px;
	/*font-family: 'Droid Sans', sans-serif;*/
    font-size: 30px;
    color: #5d5d5d;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.portfolio-filters a { color: #5d5d5d; }
.portfolio-filters a:hover, .portfolio-filters a.active { color: #488ECB; }

.portfolio-box {
	width: 255px;
	margin: 40px 15px 0 15px;
}

.portfolio-box img {
	cursor: pointer;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.portfolio-box:hover img { opacity: 0.7; }

.portfolio-box-container {
	position: relative;
	background: #f8f8f8;
    border-bottom: 2px solid #488ECB;
}

.portfolio-box-container:hover {
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.05), 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -o-transition: all .5s; -moz-transition: all .5s; -webkit-transition: all .5s; -ms-transition: all .5s; transition: all .5s;
}

.portfolio-box-icon {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 35px;
    height: 35px;
    padding-top: 7.5px;
    padding-left: 3px;
    background: #1d1d1d; /* browsers that don't support rgba */
    background: rgba(0, 0, 0, .7);
    font-size: 20px;
    color: #fff;
    line-height: 20px;
    -moz-border-radius: 19px; -webkit-border-radius: 19px; border-radius: 19px;
}

.portfolio-box-text {
	/*padding: 0 15px 20px 15px;*/
    padding: 0 15px auto 15px;
}

.portfolio-box-text h3 {
    margin-top: 20px;
    /*font-family: 'Droid Sans', sans-serif;*/
    font-size: 14px;
    color: #5d5d5d;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.portfolio-box-text p {
    line-height: 24px;
    font-style: italic;
}


/* ----- POLITICAS PAGE ----- */

.politica-container {
    margin-top: 20px;
    padding-bottom: 50px;
}

.politica-filters {
	padding-top: 35px;
	padding-bottom: 10px;
	font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
    color: #5d5d5d;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.politica-filters a { color: #5d5d5d; }
.politica-filters a:hover, .politica-filters a.active { color: #488ECB; }

.politica-box {
	width: 255px;
	margin: 40px 15px 0 15px;
}

.politica-box img {
	cursor: pointer;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.politica-box:hover img { opacity: 0.7; }

.politica-box-container {
	position: relative;
	background: #f8f8f8;
    border-bottom: 2px solid #488ECB;
}

.politica-box-container:hover {
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.05), 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -o-transition: all .5s; -moz-transition: all .5s; -webkit-transition: all .5s; -ms-transition: all .5s; transition: all .5s;
}

.politica-box-icon {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 35px;
    height: 35px;
    padding-top: 7.5px;
    padding-left: 3px;
    background: #1d1d1d; /* browsers that don't support rgba */
    background: rgba(0, 0, 0, .7);
    font-size: 20px;
    color: #fff;
    line-height: 20px;
    -moz-border-radius: 19px; -webkit-border-radius: 19px; border-radius: 19px;
}

.politica-box-text {
	padding: 0 15px 20px 15px;
}

.politica-box-text h3 {
    margin-top: 20px;
    /*font-family: 'Droid Sans', sans-serif;*/
    font-size: 14px;
    color: #5d5d5d;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.politica-box-text p {
    line-height: 24px;
    font-style: italic;
}

/* new elements added */

/* Main Menu*/

.menu-header{
    padding-right: 0px;
    padding-left: 0px;
}

/* circular contact*/

.card {
    /*border: 5px solid #488ECB;
    border-radius: 12px;*/
    max-width: 370px;
    height: 210px;
    margin: 10px;
    padding: 10px;
    
    background: #F0F4F7;
    padding: .75em 1em 0em 2em;
    border-top-left-radius: .6em;
    border-top-right-radius: .6em;
}

.final {
  background: #4d9cc9;
  padding: 1em;
  border-bottom-left-radius: .6em;
  border-bottom-right-radius: .6em;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
    width: auto;
}

.final:hover, .final:focus {
  background: #3986ad;
}
.final .reply {
  color: #fff;
  display: none;
}
.final .text {
  color: #fff;
  margin-left: .5em;
  font-family: Open Sans;
  font-weight: 200;
}

.image-card {
    float:left;
    max-width:100px;  
    margin-right:15px;
    margin-bottom:10%;
    width: 100%;
    
    max-width:90px;
    max-height:110px;
}

/* contact */

.send {
    width: 50px;
    height: 50px;
}

.modalDialog {
	position: fixed;
	/*font-family: Arial, Helvetica, sans-serif;*/
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	max-width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #F3F3F3);
	background: -webkit-linear-gradient(#fff, #F3F3F3);
	background: -o-linear-gradient(#fff, #F3F3F3);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: red; }

/* table */

.responstable {
  margin: 1em 0;
  width: 100%;
  overflow: hidden;
  background: #FFF;
  /*color: #ffff;*/
  border-radius: 10px;
  border: 1px solid #EAF7F9;
}

.responstable tr {
  border: 1px solid #EAF7F9;
}
.responstable tr:nth-child(odd) {
  background-color: #EAF7F9;
}
.responstable th {
  display: none;
  border: 1px solid #FFF;
  background-color: #488ECB;
  color: #FFF;
  padding: 1em;
}
/*.responstable th:first-child {
  display: table-cell;
  text-align: center;
}*/
.responstable th:nth-child(2) {
  display: table-cell;
}
.responstable th:nth-child(2) span {
  display: none;
}
.responstable th:nth-child(2):after {
  content: attr(data-th);
}
@media (min-width: 480px) {
  .responstable th:nth-child(2) span {
    display: block;
  }
  .responstable th:nth-child(2):after {
    display: none;
  }
}
.responstable td {
  display: block;
  word-wrap: break-word;
  max-width: 7em;
}
/*.responstable td:first-child {
  display: table-cell;
  text-align: center;
  border-right: 1px solid #D9E4E6;
}*/
@media (min-width: 480px) {
  .responstable td {
    border: 1px solid #D9E4E6;
  }
}
.responstable th, .responstable td {
  text-align: center;
  margin: .5em 1em;
}
@media (min-width: 480px) {
  .responstable th, .responstable td {
    display: table-cell;
    padding: 1em;
  }
}

/* table style for each company */

.tableA .responstable tr{
  border: 1px solid #F0F7E7;
}

.tableA .responstable tr:nth-child(odd) {
  background-color: #F0F7E7;
}

/* news */

/*.container {
  max-width: 1100px;
  margin: 0 auto;
}*/

.circulares {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 15px;
  padding: 1.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.circular {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 30px;
  background: #fefff9;
  color: #363636;
  text-decoration: none;
  -moz-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
@media (max-width: 700px) {
  .circular {
    width: 100%;
  }
}
@media (min-width: 700px) {
  .circular {
    max-width: 320px;
    min-width: 320px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .circular:nth-child(even) {
    margin-right: 0;
  }
}
@media (min-width: 980px) {
  .circular:nth-child(even) {
    margin-right: 20px;
  }
  .circular:nth-child(3n) {
    margin-right: 0;
  }
}
.circular span {
  display: block;
}
.circular .circular-summary {
  padding: 5% 5% 3% 5%;
}
.circular .circular-header {
  position: relative;
  height: 175px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.15);
  background-blend-mode: overlay;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 0 0;
}
.circular .circular-header:hover, .circular .circular-header:focus {
  background-color: rgba(255, 255, 255, 0);
}
.circular .circular-title {
  background: rgba(57, 142, 235, 0.85);
  padding: 3.5% 0 2.5% 0;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.circular .circular-title h3 {
  font-size: 1.2em;
  line-height: 1.2;
  padding: 0 3.5%;
  margin: 0;
}
.circular .circular-meta {
  max-height: 0;
  overflow: hidden;
  color: #666;
  font-size: .78em;
  text-transform: uppercase;
  position: absolute;
  bottom: 5%;
  padding: 0 5%;
  -moz-transition-property: max-height;
  -o-transition-property: max-height;
  -webkit-transition-property: max-height;
  transition-property: max-height;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.circular:hover, .circular:focus {
  background: white;
  -moz-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
}
.circular:hover .circular-title, .circular:focus .circular-title {
  background: rgba(57, 142, 235, 0.85);
}
.circular:hover .circular-meta, .circular:focus .circular-meta {
  max-height: 2em;
}

/*img {
  max-width: 100%;
}*/

/* image viewer */

.media{text-align:center}

.thumbnail{
  width:250px;
  height:150px;
  border:2px solid #21AEF0;
  display:inline-block;
  overflow:hidden;
  margin:5px;
  cursor:zoom-in;
}
a.thumbnail:hover{
    border:4px solid #398EEB;
}

.thumbnail:hover img{opacity:0.7}
.thumbnail img{
  width:100%;
  height:auto;
}
.thumb-viewer{
  display:none;
}
.view-open{overflow:hidden;}
.view-open .thumb-viewer{
  display:block;
  background:rgba(0,0,0,0.7);
  position:fixed;
  left:0; right:0; top:0; bottom:0;  
}
.viewer-body{
  margin:auto;
    margin-top:2%;
  /*height:50%;*/
  /*position:fixed;*/
  /*height:600px;*/
    /*height:auto;*/
  left:0; right:0; top:0; bottom:0;
  text-align:center;
}
.viewer-body img{
  /*width:100%;*/
  height:100%;
    max-height:600px;
    /*max-width:800px;
  height:600px;*/
}
.prev, .next{
  display:inline-block;
  width:35px;
  height:35px;
  border-top:5px solid #bbb;
  border-left:5px solid #bbb;
  transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  cursor:pointer;
  position: absolute;
  top:0;
  bottom:0;
  left:15px;
  margin:auto 15px;
  opacity:0.6;
  z-index:5;
}
.next{
  border:none;
  border-bottom:5px solid #bbb;
  border-right:5px solid #bbb;
  left:auto;
  right:15px;
}
.exit{
  color:#fff;
  position: absolute;
  right:15px;
  top:5px;
  font-size:32px;
  font-family: Helvetica;
  font-weight:lighter;
  opacity:0.6;
  cursor:pointer;
}
.prev:hover, .next:hover, .exit:hover{opacity:1;}

/* pagination style for each company */

div#pag > .pagination > .active > a, div#pag > .pagination > .active, div#pag > .pagination > .active > span{
    background-color: #478FCB;
    border-color: #478FCB;
}

 div#pag .pagination > li > a{
    color: #478FCB;
}

/* valores de empresa */

#valores ul{
    margin:0px;
    padding:0px;
    list-style-type:none;
    -webkit-backface-visibility: hidden; backface-visibility: hidden;  
}
.var_nav{
    position:relative;
    background:#ccc; 
    width:300px;
    height:73px;
    margin-bottom:5px;
}
.link_bg{
     width:70px;
     height:73px;
     position:absolute;
     background:#488ECB;
     color:#fff;
     z-index:2;
}
.link_bg i{
    position:relative;
}
.link_title{
    position:absolute;
    width:100%;
    z-index:3;
    color:#fff;
}
.link_title:hover .icon{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    transform:rotate(360deg);  
}
.var_nav:hover .link_bg{
    width:100%;
    background:#488ECB;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;  
}
.var_nav:hover a{
    font-weight:bold;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out; 
    -o-transition:all .5s ease-in-out; 
    -ms-transition:all .5s ease-in-out;
     transition:all .5s ease-in-out;  
}
.icon{
    position:relative;
    width:70px;
    height:70px;
    text-align:center;
    color:#fff;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out; 
    -o-transition:all .5s ease-in-out; 
    -ms-transition:all .5s ease-in-out;   
    float:left;
    transition:all .5s ease-in-out;   
    float:left;
}
.icon i{
    top:22px;position:relative;
}

.icon img{
    top:22px;
    width: 100%;
}

#valores a{
    display:block;
    position:absolute;
    float:left;
    font-family:arial;
    margin-left: 25px;
    color:#fff;
    text-decoration:none;
    width:100%;
    height:70px;
    text-align:center;
}
#valores span{
    margin-top:25px;
    display:block;
}

/* dedicated to show colors about company (Advanzer) */

nav#advanzer .link_bg, nav#advanzer .var_nav:hover .link_bg{
    background:#C0D339;
}

/* Form Elements */

input[type="text"], 
textarea {
    margin: 0;
    padding: 0 6px;
    vertical-align: middle;
    background: none;
    border: 1px solid #ddd;
    /*font-family: 'Open Sans', sans-serif;*/
    font-size: 13px;
    font-weight: 400;
    color: #888;
    font-style: italic;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

input[type="text"]:focus, 
textarea:focus {
	outline: 0;
    border: 1px solid #bbb;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]:-moz-placeholder, textarea:-moz-placeholder { color: #ccc; }
input[type="text"]:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #ccc; }
input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #ccc; }


button.btn {
	height: 30px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #488ECB;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
    text-shadow: none;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -moz-box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

button.btn:hover {
	background: #5d5d5d;
    border: 0;
    color: #fff;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

button.btn:active {
	outline: 0;
    background: #5d5d5d;
    border: 0;
    color: #fff;
    -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
}

button.btn:focus {
	outline: 0;
    background: #5d5d5d;
    border: 0;
    color: #fff;
}

.btn:active:focus, .btn.active:focus {
	outline: 0;
    background: #5d5d5d;
    border: 0;
    color: #fff;
}

/* politics icons advanzer */

.icon-attracting-talent::before{
    display: inline-block;
    width: 255px;
    height: 211px;
    margin-right: 5px;
    content: "";
    background: url(../../img/politicas/entuizer-rendered/ENTAtraccionDeTalentos.jpg) no-repeat 0 0;
    background-size: 100%;
}

.icon-annual-bonus::before{
    display: inline-block;
    width: 255px;
    height: 211px;
    margin-right: 5px;
    content: "";
    background: url(../../img/politicas/entuizer-rendered/ENTBonoAnualConsultoria.jpg) no-repeat 0 0;
    background-size: 100%;
}

.icon-letters-and-constancies::before{
    display: inline-block;
    width: 255px;
    height: 211px;
    margin-right: 5px;
    content: "";
    background: url(../../img/politicas/entuizer-rendered/ENTCartasyConstanciasLaborales.jpg) no-repeat 0 0;
    background-size: 100%;
}

.icon-certifications-and-courses::before{
    display: inline-block;
    width: 255px;
    height: 211px;
    margin-right: 5px;
    content: "";
    background: url(../../img/politicas/entuizer-rendered/ENTCertificacionesCursos.jpg) no-repeat 0 0;
    background-size: 100%;
}

.icon-dress-code::before{
    display: inline-block;
    width: 255px;
    height: 211px;
    margin-right: 5px;
    content: "";
    background: url(../../img/politicas/entuizer-rendered/ENTCodigoDeVestimenta.jpg) no-repeat 0 0;
    background-size: 100%;
}

.icon-internal-comunication::before{
    display: inline-block;
    width: 255px;
    height: 211px;
    margin-right: 5px;
    content: "";
    background: url(../../img/politicas/new-entuizer/ComunicacionInterna2.png) no-repeat 0 0;
    background-size: 100%;
}

.icon-free-days::before{
    display: inline-block;
    width: 255px;
    height: 211px;
    margin-right: 5px;
    content: "";
    background: url(../../img/politicas/entuizer-rendered/ENTdiasfestivo.jpg) no-repeat 0 0;
    background-size: 100%;
}

.icon-schedules::before{
    display: inline-block;
    width: 255px;
    height: 211px;
    margin-right: 5px;
    content: "";
    background: url(../../img/politicas/entuizer-rendered/ENTHorarios.jpg) no-repeat 0 0;
    background-size: 100%;
}

.icon-absences::before{
    display: inline-block;
    width: 255px;
    height: 211px;
    margin-right: 5px;
    content: "";
    background: url(../../img/politicas/new-entuizer/Ausenciasypermisos2.png) no-repeat 0 0;
    background-size: 100%;
}

.icon-vacations::before{
    display: inline-block;
    width: 255px;
    height: 211px;
    margin-right: 5px;
    content: "";
    background: url(../../img/politicas/entuizer-rendered/ENTvacaciones.jpg) no-repeat 0 0;
    background-size: 100%;
}

.icon-travel::before{
    display: inline-block;
    width: 255px;
    height: 211px;
    margin-right: 5px;
    content: "";
    background: url(../../img/politicas/entuizer-rendered/ENTViaticosyGastosDeViaje.jpg) no-repeat 0 0;
    background-size: 100%;
}

ul.lineamiento {
    list-style-type:lower-latin;
    list-style-position: outside;
}

ul.lineamiento li{
    
}

ul.lineamiento li:before {
    /*content: ")";*/
}

ul.lineamiento li p{
    margin-left: 10px;
    
}

ul.ambos {
    list-style-type:lower-latin;
    list-style-position: outside;
}

ul.ambos li{
    
}

ul.ambos li:before {
    /*content: ")";*/
}

ul.ambos li p{
    margin-left: 10px;
    
}

.politic-icon {
    float:left; 
    margin-right:192px;
    margin-bottom:10%;
    width: 100%;  
    max-width:192px;
    max-height:110px;
}

p.politic-tittle {
    margin: 70px 0 10px;
}

/* Birthday History*/

/* My Tweaks - Center the boxes on the page */

div.birthday_history {
width:auto;
height:400px;
padding-top: 40px;
margin: 0 auto;
}

/* White Border around Photos*/

/*ul.box{
    list-style:none;
    position:relative;
    left:7%;
}*/

.box li {
  background-color: #fff;
  padding: 10px;
    padding-bottom: 25px;
}

.box img {
  width: 250px;
  height: 250px;
}

/* Source: http://matthamm.com/box-shadow-curl.html */

ul.box, ul.box2, ul.box3, ul.box4 {
position: relative;
z-index: 1; /* prevent shadows falling behind containers with backgrounds */
/*overflow: hidden;*/
list-style: none;
margin: 0;
padding: 0; }


ul.box li, ul.box2 li, ul.box3 li, ul.box4 li {
position: relative;
float: left;
margin: 0 13px 30px 0;
-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset; }


ul.box li:before,
ul.box li:after,
ul.box2 li:after,
ul.box2 li:before,
ul.box4 li:after {
content: '';
z-index: -1;
position: absolute;
left: 10px;
bottom: 10px;
width: 70%;
max-width: 300px; /* avoid rotation causing ugly appearance at large container widths */
max-height: 100px;
height: 55%;
-webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
-webkit-transform: skew(-15deg) rotate(-6deg);
-moz-transform: skew(-15deg) rotate(-6deg);
-ms-transform: skew(-15deg) rotate(-6deg);
-o-transform: skew(-15deg) rotate(-6deg);
transform: skew(-15deg) rotate(-6deg); }



ul.box li:after,
ul.box4 li:after {
left: auto;
right: 10px;
-webkit-transform: skew(15deg) rotate(6deg);
-moz-transform: skew(15deg) rotate(6deg);
-ms-transform: skew(15deg) rotate(6deg);
-o-transform: skew(15deg) rotate(6deg);
transform: skew(15deg) rotate(6deg); }

.main-menu{
    width: 100%; 
    max-width: 1220px; 
}

/* Custom Select */

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #fff;
  width: 220px;
  height: 40px;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #5D91C8;
  padding: 8px 15px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px;
}
.select-styled:hover {
  background-color: #5D91C8;
}
.select-styled:active, .select-styled.active {
  background-color: #5D91C8;
}
.select-styled:active:after, .select-styled.active:after {
  top: 9px;
  border-color: transparent transparent #fff transparent;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #5D91C8;
}
.select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  border-top: 1px solid #5D91C8;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
.select-options li:hover {
  color: #5D91C8;
  background: #fff;
}
.select-options li[rel="hide"] {
  display: none;
}

/* benefits icons */

.icon-sgmm::before{
    display: inline-block;
    width: 255px;
    height: 211px;
    margin-right: 5px;
    content: "";
    background: url(../../img/beneficios/AXA.png) no-repeat 0 0;
    background-size: 100%;
}

.icon-cart::before{
    display: inline-block;
    width: 255px;
    height: 211px;
    margin-right: 5px;
    content: "";
    background: url(../../img/beneficios/tarjeta%20One%20Card.png) no-repeat 0 0;
    background-size: 100%;
}

.icon-education::before{
    display: inline-block;
    width: 255px;
    height: 211px;
    margin-right: 5px;
    content: "";
    background: url(../../img/beneficios/TecMilenio%20rend.png) no-repeat 0 0;
    background-size: 100%;
}

.icon-life-insurance::before{
    display: inline-block;
    width: 255px;
    height: 211px;
    margin-right: 5px;
    content: "";
    background: url(../../img/beneficios/tarjeta%20One%20Card%20rend.png) no-repeat 0 0;
    background-size: 100%;
}

.icon-education-2::before{
    display: inline-block;
    width: 255px;
    height: 211px;
    margin-right: 5px;
    content: "";
    background: url(../../img/beneficios/udem.png) no-repeat 0 0;
    background-size: 100%;
}

/* Another Gallery*/

.wrapper {
  margin: 5% auto;
  display: block;
  width: 96%;
  height: 100%;
  padding: 0;
}

.wrapper:before {
  content: "";
  display: table;
}

.wrapper_inner {
  padding: 0.2em;
  margin: 0;
}

.gallery {
}

.gallery_item {
  float: left;
  width: 24.59%;
  display: inline-block;
  margin: 0 auto;
  margin-right: 0.25em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  background: #FFF;
  border: 1px solid #F3F0F0;
  position:relative;
  box-shadow: 0 1px 2px #AFAFAF;
  border-radius: 5px;
}


.gallery_item_preview {
  background: #fff;

  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.gallery_item_preview a {
  position: relative;
  display: inline-block;
  padding: 0;
  color: #333;
  text-decoration: none;
  overflow: hidden;

  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.gallery_item_preview a:hover {
  color: #777;

  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.gallery_item_preview a svg.gallery_top{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:50px;
  stroke:none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.gallery_item_preview a:hover  svg.gallery_top{
  top:-10em;
  
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.gallery_hide_top{
  top:-10em !important;
  
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.gallery_item_preview a:before {
  content: "Click para ver";
  position: absolute;
  top: 0.5em;
  left: -30em;
  background-color: #FFF;
  background-color: rgba(255, 255, 255, 0.99);
  color:#5D91C8;
  padding: 0.56em 1em;
  border-radius: 5px 0 0 0;

  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.gallery_item_preview a:hover:before {
  left: 0.5em;

  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.gallery_item_preview a h3 {
  /*font-family: 'Leckerli One', cursive;*/
}

.gallery_item_preview a img {
  display: block;
  width: 100%;
  height: 150px;
  border-radius: 5px;

  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.gallery_item_full {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 100;
  overflow: hidden;
}

.gallery_item_full img {
  display: block;
  width: 100%;
}

/*.box {
  margin: auto;
  background: #FFF;
  padding: 2em;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  width: 50%;
  text-align: left;
  border: 1px solid #DADADA;
}*/

.box h3 {
  /*font-family: 'Leckerli One', cursive;*/
  color: #F88484;
}

.cl {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  color: #777;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
}

.cl:hover {
  color: #F88484;
}
/*  Responsive video 
=============================*/
.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*  list style
=============================*/
.icon_list {
  width: 30px;
  height: 30px;
  display: block;
  padding: 0.5em;
  text-decoration: none;
  line-height: 0.4em;
  background: #FFF;
  color: #838383;
  border: 1px solid #C2C2C2;
  border-radius: 4px;
  
  position: absolute;
  right: 0.3em;
  top: 0.3em;
  word-break: break-all;

  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.icon_list:hover {
  background: #f55;
  color: #fff;
  border-color: #f11;

  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.icon_list_open {
  background: #5D91C8 !important;
  color: #fff !important;
}

.gallery_item_list {
  float: none !important;
  display: block !important;
  width: 50%;
  margin: auto;
  margin-top: 0.5em;

  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.gallery_line {
  width: 130px !important;
  height: 100px !important;
  display: inline-block !important;
  float: left !important;
  margin-right: 1em !important;

  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/*	Simple animation
=======================*/
.efIn {
  -webkit-animation: fx_in 0.65s 1 ease-in-out;
  animation: fx_in 0.65s 1 ease-in-out;
}

.efOut {
  -webkit-animation: fx_out 0.7s 1 ease-in-out;
  animation: fx_out 0.7s 1 ease-in-out;
}




/*	Keyframes
==============*/
@-webkit-keyframes fx_in {
  from {
    width: 0;
    height: 0;
    -webkit-border-radius: 100%;
    opacity: 0;
  }

  50% {
    -webkit-box-shadow: inset 0 0 0 0  #fff;
  }

  to {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fx_out {
  from {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 0;
    -webkit-box-shadow: inset 0 0 0 0 #fff;
    opacity: 1;
  }

  50% {
    -webkit-box-shadow: inset 0 0 0 80em  #fff;
  }

  to {
    width: 0;
    height: 0;
    -webkit-border-radius: 100%;
    opacity: 0;
  }
}

/* moz */

/* o */

/* ms */

@keyframes fx_in {
  from {
    width: 0;
    height: 0;
    border-radius: 100%;
    opacity: 0;
  }

  50% {
    box-shadow: inset 0 0 0 0  #fff;
  }

  to {
    width: 100%;
    height: 100%;
    border-radius: 0;
    opacity: 1;
  }
}

@keyframes fx_out {
  from {
    width: 100%;
    height: 100%;
    border-radius: 0;
    box-shadow: inset 0 0 0 0 #fff;
    opacity: 1;
  }

  50% {
    box-shadow: inset 0 0 0 80em  #fff;
  }

  to {
    width: 0;
    height: 0;
    border-radius: 100%;
    opacity: 0;
  }
}



/* Large desktop */
@media (min-width: 980px) {
  .gallery_item_list {
    width: 50% !important;
  }

  .gallery_item {
    width: 24.45%;
  }

  .gallery_item_preview a img {
    height: 180px;
  }

  .box {
    width: 100%;
    max-height: 550px;
  }
}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .gallery_item_list {
    width: 60% !important;
  }

  .gallery_item {
    width: 32.83%;
  }

  .gallery_item_preview a img {
    height: 180px;
  }

  .box {
    width: 70%;
    max-height: 550px;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .gallery_item_list {
    width: 70% !important;
  }

  .gallery_item {
    width: 49.3%;
  }

  .gallery_item_preview a img {
    height: 180px;
  }

  .box {
    margin: auto;
    padding: 4em 1em 1em 1em;
    width: 80%;
    height: 500px;
  }

  .cl {
    top: 0;
    right: 0.5em;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .gallery_item_list {
    width: 100% !important;
  }

  .gallery_item {
    width: 100%;
  }

  .gallery_item_preview a img {
    height: 200px;
  }

  .box {
    background: #F8F8F8;
    padding: 4em 1em 1em 1em;
    width: 100%;
    height: auto;
  }

  .cl {
    top: 0;
    right: 0.5em;
  }

  .gallery_item_list {
    width: 100% !important;
  }

}